@charset "utf-8";
@import "normalize";
@import "normalize";
@import "bourbon";
@import "neat";

@import "abstracts/variables";
@import "base/base";
@import "base/grid-settings";
@import "base/typography";

@import "components/icons";
@import "components/forms";
@import "components/buttons";
@import "components/lists";
@import "components/tables";


@import "layouts/header";
@import "layouts/footer";


.delete-me {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 90vh;

  .container {
    text-align: center;

    h1.mega {
      font-size: 6em;
      line-height: 1.1em;
      letter-spacing: .125em;
      font-weight: 200;
      text-transform: uppercase;
    }
  }
}


