// Bitters 1.2.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import 'fonts';


.container {
  box-sizing: border-box;
  padding: 3em 2em;
  background-color: rgba(255,255,255,0.5);
}
